[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./CarstianoRevnaldbot.py

# Name of the bot in-game
name = CarstianoRevnaldbot

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = Liebscher Bianchi Rodriguez

# Short description of the bot
description = This bot was created for the University of Notre Dame Course: Game-based AI Agents
# Fun fact about the bot
fun_fact =

# Link to github repository
github = https://github.com/katieliebscher/RocketLeagueAIBot/tree/master/CarstianoRevnaldbot-master

# Programming language
language = python
